@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Water+Brush&display=swap');

.App {
  text-align: center;
}

.App-header {
  display: 'flex';
  justify-content: space-between;
  align-items: center;
  font-family: 'Monoton', 'cursive';
  color: #E647EA;
}

.App-para {
  font-family: 'Water Brush', 'cursive';
}

.App-paragraph {
  font-family: 'Permanent Marker', 'cursive';
}