@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Permanent+Marker&family=Water+Brush&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: 'flex';
  justify-content: space-between;
  align-items: center;
  font-family: 'Monoton', 'cursive';
  color: #E647EA;
}
.App-para { 
  font-family: 'Water Brush', 'cursive';
}

.App-paragraph { 
  font-family: 'Permanent Marker', 'cursive';
}

.App-link {
  
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
